@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  background-color: #e2e2e2; 
   --color-blue : #3b5bdb;
     --color-grayMain : #e2e2e2;
     --color-cinzaItens: #f1f3f5;
     --color-grayInputs: #ebebeb;
     --color-redUrgente: #e40404;
     --color-verdeNormal: #028302;
     --color-yellowImportante: #f3a703;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;

}

.header__container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}

.header__content {
  width: 70vw;
  display: flex;

  justify-content: space-between;
}

.header__title {
  color: var(--color-blue);
  font-weight: 500;
  padding-top: 0.9375rem;
}

.header__input--search {
  background-color: var(--color-grayInputs);
  width: 17.5rem;
  height: 1.875rem;
  border: none;
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.main__container {
  background-color: var(--color-grayMain);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__container {
  background-color: white;
  margin-top: 1.875rem;
  font-size: large;
  gap: 1.5625rem;
  width: 65vw;
  height: 15vh;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.form__title title2 {
  background-color: var(--color-blue);
}

.form__input-container {
  display: flex;
  justify-content: space-between;
}

.form__input--text {
  background-color: var(--color-grayMain);
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  width: 45vw;
  padding-left: 0.9375rem;
}

.form__input--priority {
  background-color: var(--color-grayMain);
  height: 1.5625rem;
  border: none;
  border-radius: 5px;
  width: 15vw;
  height: 2.5rem;
  padding-left: 0.9375rem;
}

.form__button--add-task {
  background-color: var(--color-blue);
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  color: white;
  font-weight: 400;
}

.tasks__container{
  background-color: white;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  gap: 1.5625rem;
  font-weight: 400;
  font-size: large;
  width: 65vw;
  height: auto;
  border-radius: 0.625rem;
  display: flex;
  /* align-items: start; */
  flex-direction: column;
  padding: 50px;
}

.task__item{
  display: flex;
  width: 100%;
   
}

.task-info__container{
  background-color:var(--color-cinzaItens);
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  
  display: flex;
  justify-content: start;
  align-items: center;
  
   padding-left: .9375rem ; 
   gap: 30px; 
  margin-bottom: .9375rem;
  

}

.task__button--remove-task{
  background-image: url('../assets/trash-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none; 
  width: .9375rem;
  height: .9375rem;
  padding: 0;
  cursor: pointer; 
  margin-right: 1.25rem;
  
  position: relative;
  right: -100px;
  
}

.task-type  {
  border-radius: 20px;
  width:20px;
  height: 15px;

}

.span-urgent{
  background-color: #e40404
}

.span-important{
  background: #f3a703;
}

.span-normal{
  background-color: #028302;
}

p{
  width: 550px;
  justify-content: start;
}